*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
}
.container-flex{
    display: flex;
}
h1{
    grid-column: span 6;
}
#logo{
    grid-column: 3/5;
}
#logo img{
    width: 30vw;
}
nav{
    grid-column: span 6;
}
nav ul li{
    display: inline;
    list-style: none;
    font-weight: bold;
}
nav ul li a{
    margin-left: 5.5vw;
    margin-top: 3vh;
    width: 20vw;
    font-size: 5.5vw;
    text-decoration: none;
    color: #989898;
}

header{
    width: 100vw;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(247, 247, 247);
}
section{
    min-height: 60vh;
}
main h1{
    color: #707070;
    font-size: 4vh;
    font-weight: 800;
}
section div{
    grid-column: 1/span 6;
    margin-top: 4vh;

}
#sobre div div{
    float: left;
    width: 50%;
    align-self: flex-end;
    padding: 0 2vw 0 2vw;
}
#sobre div div img{
    width: 100%;
    border: black 1px solid;
}
#sobre{
    letter-spacing: 1px;
    line-height: 20px; 
}
#h-sobre{
    padding-top: 15vh;
}
#h-planos{
    padding-top: 5vh;
}
#h-cursos{
    padding-top: 5vh;
}
#h-valores{
    padding-top: 5vh;
}
#sobre div p{
    text-indent: 20px;
    text-align: justify;
}

#cursos div img {
    width:100%;
}
#cursos div h2{
    background-color:#ddd;
    text-align: center;
    padding:2vh 2vh 2vh 2vh;    
}
#curso-wd{
    border-top: 1vh solid#f00;
    border-width: 2vw;
}
#curso-prog{
    border-top:1vh solid#0f0;
    border-width: 2vw;
}
#curso-bd{
    border-top:1vh solid#00f;
    border-width: 2vw;
}
#bronze{
    background-color: #c59b12;
    padding-bottom: 2vw;
    width: 100%;
}
#bronze h2{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 800;
    background-color: #eee8e8;
    text-align: center;
    border: black 1px solid;
    padding:1vh 0 1vh 0;
}
#bronze h3{
    margin-top: 1vh;    
    color: #707070;
    font-weight: 800;
    font-size: 4vh;
    margin-left: 2vh;
}
#bronze p{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 700;
    background-color: #fff;
    text-align: left;
    padding:1vh 0 1vh 0;
    font-size: 4vh;
    line-height: 2.5;
}
#prata{
    min-height: 10px;
    background-color: #f7f0f1;
    padding-bottom: 2vw;
    width: 100%;
}
#prata h2{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 800;
    background-color: #eee8e8;
    text-align: center;
    border: black 1px solid;
    padding:1vh 0 1vh 0;
}
#prata h3{
    margin-top: 1vh;    
    color: #707070;
    font-weight: 800;
    font-size: 4vh;
    margin-left: 2vh;
}
#prata p{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 700;
    background-color: #fff;
    text-align: left;
    padding:1vh 0 1vh 0;
    font-size: 4vh;
    line-height: 2.5;
}
#ouro{
    background-color: #f1f115;
    padding-bottom: 2vw;
    width: 100%;
}
#ouro h2{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 800;
    background-color: #eee8e8;
    text-align: center;
    border: black 1px solid;
    padding:1vh 0 1vh 0;
}
#ouro h3{
    margin-top: 1vh;    
    color: #707070;
    font-weight: 800;
    font-size: 4vh;
    margin-left: 2vh;
}
#ouro p{
    margin-top: 2vh;    
    color: #707070;
    font-weight: 700;
    background-color: #fff;
    text-align: left;
    padding:1vh 0 1vh 0;
    font-size: 4vh;
    line-height: 2.5;
}
#valores h1{
    font-weight: bold;
}
#valores2 h1{
    font-weight: bold;
}
#procedencia h1{
    border-left: 2vh solid#4632fd;
}
#eficiencia h1{
    border-left: 2vh solid#fe2222;
}
#compromisso h1{
    border-left: 2vh solid#098809
}
#inovacao h1{
    border-left: 2vh solid#f5fb30;
}
#pesquisa h1{
    border-left: 2vh solid#f632fd;
}
#qualidade h1{
    border-left: 2vh solid#32c5fd;
}
#valores p{
    margin-left: 2vh;
    font-size: 20px;
}
#valores2 p{
    margin-left: 2vh;
    font-size: 20px;
}
.negrito {
    font-weight: bold;
   }
#p-sobre2{
    display: none;
}
footer{
    text-align:center;
    background-color: #f9f9f9;
    padding:2vh;
    color:#707070;
}




@media only screen and (min-width: 980px){
    header{
        padding-top: 2vh;
        max-height: 11vh;
    }
    #planos{
        display: flex;
    }
    #logo{
        grid-column: 1/3;
    }
    #logo img{
        width: 15vh;
    }
    #bronze h4{
        border-top: 1vh solid#fff;
        border-width: 2vw;
    }
    #bronze{
        margin-top: 20vh;
    }
    #bronze p{
        margin-left: 20px;
        margin-right: 20px;
    }
    #prata{
        margin-top: 10vh;
    }
    #prata p{
        margin-left: 20px;
        margin-right: 20px;
    }
    #ouro p{
        margin-left: 20px;
        margin-right: 20px;
    }
    nav{
        grid-column: 4/span 3;
    }
    nav ul{
        padding-top: 2vh;
    }
    nav ul li a{
        font-size: 2.5vh;
    }
    #p-sobre2{
        display: flex;
        
    }
    #sobre-text{
        grid-column: 1/span 3;
    }
    #sobre div div img{
        grid-column: 4/span 3;
    }
    main{      
        padding-left: 5vh;
    } 
    #sobre div p{
        font-weight: bold;
        font-size: 3vh;
        line-height: 1.5;
        color: #707070;
    }
    .negrito{
        font-weight: bold;
    }
    .container-flex{
        display: flex;
        grid-column: 4/span 3;
    }
    #cursos{
        display: flex;
    }
    #cursos div{
        align-self: flex-end;
        width: 30%;
        padding: 0 0 0 0;
    }
    #curso-wd{
        border-width: 2vh;
    }
    #curso-prog{
        border-width: 2vh;
    }
    #curso-bd{
        border-width: 2vh;
    }
    #planos{
        align-self: flex-end;
    }
    #valores div{
        grid-column: span 2;
    }
    #valores{
        display: grid;
    }
}